# Build outputs and dependencies
bin/
obj/
publish/

# IDE configurations
.vscode/
.idea/
*.user
*.suo
*.sln.docstates

# Sensitive configurations and secrets
.env
.env.test
.env.prod
appsettings.json
appsettings.Development.json
appsettings.Production.json
qr_crop.png
wwwroot/img/extracted/
/*.pdf
dayly_promts.json
zadani1.txt
